body{
    background-image:url('system1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.title{
    text-align: center;
    color: white;
    font-size:50px ;
}

.main{
    color: white;
    text-align: center;
    margin: auto;
    width: 400px;
    background-color: black;
    padding: 10px;
    text-indent: 50px;
    line-height: 1.5;
    text-align: justify;
}


.buttons
{
    text-align: center;
}

.thing
{
    color: white;
}