body {
    background-color: rgb(118, 203, 231);
    margin: 0%;
    background-image: url('suun.png'), url('clod.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    }

.body{
    text-align: center;
    padding: 50px;
    border-radius: 100% / 125% 125% 80% 80%;
    border: solid rgb(207, 201, 165);
    margin: 50px auto;
    height: min-content;
    width: min-content;
    background-color: rgb(235, 240, 188);
    box-shadow: inset -10px -10px 30px 10px rgba(77, 77, 77, 0.301), 0px 0px 30px 10px rgba(251, 255, 11, 0.37);
}

.grass{
    margin: auto;
    background-color: rgb(9, 80, 24);
    background-image: url('gt.jpg');
    
}

.empty{
    height: 100px;
    background-image: url('grass.png');
}

