body{
    margin: 0%;
    background-color: #5f2f2d;
}

.nav ul
{
list-style-type: none;
background-color: #5f2f2d;
margin: -8px;
overflow: hidden;
margin-left: 20px;
}

.nav a
{
color: #c4a570;
text-decoration: none;
padding: 15px;
display: block;
text-align: center;
}

.nav a:hover
{
background-color: #552a2a;
border-radius: 35px;
transition: 0.8s;
box-shadow: 2px 2px 6px #6b3330;
}

.nav li
{
float: left;
margin-right: 10px;
}

.head
{
font-size: 20px;
display: flex;
align-items: center;
}

.HE{
    font-size: 45px;
    font-weight: bolder;
}

.text
{
display: inline-block;
vertical-align: middle;
color: #c4a570;
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
margin-right: 10px;
}

.logo
{
margin-right: 20px;
width: 150px;
padding: 15px;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #5f2f2d;
    border-bottom: groove #c4a570 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
.body{
  margin: 250px 10% 10%;
  color: #c4a570;
  font-size: larger;
  }

.hook {
    height: 500px;
    background: linear-gradient(to bottom, rgba(88, 82, 82, 0.37), rgba(0, 0, 0, 0.747));
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #c4a570;
    border-radius: 70px;
    border: 7px solid #5f2f2d;
    outline: 5px solid #c4a570;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.hook-content {
    max-width: 800px;
}

.hook h1 {
    font-size: 48px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hook p {
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


.wikipedia-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    color: #c4a570;
}

.wikipedia-link a {
    color: #c4a570;
    text-decoration: none;
    transition: color 0.3s ease;
}

.wikipedia-link a:hover {
    color: #a38a5c;
}

.emp{
    text-indent: 20px;
}

.vid{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
}

.video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    color: #5f2f2d;
    text-align: center;
    font-size: 30px;
    text-shadow: -1px -1px 0 #c4a570, 1px -1px 0 #c4a570, -1px 1px 0 #c4a570, 1px 1px 0 #c4a570;
    box-shadow: 0 0 20px #c4a570;
}

.hook video {
    position: absolute;
    width: inherit;
    height: inherit;
    object-fit: cover;
    z-index: -1;
}
