body{
    margin: 0%;
}


.nav ul
{
list-style-type: none;
background-color: #beb06d;
margin: -8px;
overflow: hidden;
border: groove black 8px;
}

.nav a
{
color: white;
text-decoration: none;
padding: 15px;
display: block;
text-align: center;
}

.nav a:hover
{
background-color: #bda951;
}

.nav li
{
float: left;
}

.head
{
font-size: 20px;
display: flex;
align-items: center;
}


.text
{
display: inline-block;
vertical-align: middle;
}

.logo
{
margin-right: 20px;
width: 7%;
padding: 15px;
}
